<div>
  <h2>{{ placeName }}</h2>
  <div>
    <h3>Description:</h3>
    <p>{{ placeDetails}}</p>
  </div>
  <div>
    <h3>Historical Value:</h3>
    <p>{{ placeDetails.historicalValue }}</p>
  </div>
  <div>
    <h3>Importance:</h3>
    <p>{{ placeDetails.importance }}</p>
  </div>
  <div>
    <h3>Location:</h3>
    <p>{{ placeDetails.location }}</p>
  </div>
  <div>
    <h3>Nearest Town:</h3>
    <p>{{ placeDetails.nearestTown }}</p>
  </div>
  <div>
    <h3>Type:</h3>
    <p>{{ placeDetails.type }}</p>
  </div>
</div>
